@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			

			<div asp-validation-summary="ModelOnly"></div>

			<input class="text hamada" asp-for="NewPassword" placeholder="Password" required="">
			<input class="text hamada" asp-for="ConfirmPassword" placeholder="Password" required="">
			
			<input type="submit" value="Submit">
		</form>
	</div>
</div>




@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}


